service-clients/registry-services/src/main/resources/RegistriesService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><wsdl:definitions xmlns:tns="urn:mil:navy:med:dzreg:service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="urn:mil:navy:med:dzreg:types" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="RegistriesService" targetNamespace="urn:mil:navy:med:dzreg:service">
	<wsdl:documentation>
     WSDL for Registries Service
  </wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="urn:mil:navy:med:dzreg:service">
			<xsd:import namespace="urn:mil:navy:med:dzreg:types" schemaLocation="RegistryTypes.xsd"></xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetRegistryProfileRequest">
		<wsdl:part name="parameters" element="ns1:PersonRegistryProfileRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetRegistryProfileResponse">
		<wsdl:part name="parameters" element="ns1:PersonRegistryProfileResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegisterProfileRequest">
		<wsdl:part name="parameters" element="ns1:RegisterPersonRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegisterProfileResponse">
		<wsdl:part name="parameters" element="ns1:ResponseAck"></wsdl:part>
	</wsdl:message>	
	<wsdl:message name="UnregisterProfileRequest">
		<wsdl:part name="parameters" element="ns1:UnregisterPersonRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UnregisterProfileResponse">
		<wsdl:part name="parameters" element="ns1:ResponseAck"></wsdl:part>
	</wsdl:message>		
	<wsdl:portType name="RegistriesServicePortType">
		<wsdl:operation name="GetRegistryProfile">
			<wsdl:input message="tns:GetRegistryProfileRequest"></wsdl:input>
			<wsdl:output message="tns:GetRegistryProfileResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Register">
			<wsdl:input message="tns:RegisterProfileRequest"></wsdl:input>
			<wsdl:output message="tns:RegisterProfileResponse"></wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="Unregister">
			<wsdl:input message="tns:UnregisterProfileRequest"></wsdl:input>
			<wsdl:output message="tns:UnregisterProfileResponse"></wsdl:output>
		</wsdl:operation>		
	</wsdl:portType>
	<wsdl:binding name="RegistriesServicePortTypeBinding" type="tns:RegistriesServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<wsdl:operation name="GetRegistryProfile">
			<soap:operation soapAction="urn:GetRegistryProfile" style="document"></soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Register">
			<soap:operation soapAction="urn:Register" style="document"></soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="Unregister">
			<soap:operation soapAction="urn:Unregister" style="document"></soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
		</wsdl:operation>				
	</wsdl:binding>
	<wsdl:service name="RegistriesService">
		<wsdl:port name="RegistriesServicePort" binding="tns:RegistriesServicePortTypeBinding">
			<soap:address location="http://192.168.5.47:8080/RegistriesService-1.0-SNAPSHOT/RegistriesService"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>